body{
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
}
.alarmBar{
    justify-content: center !important;
    height: 18vh;
    margin: 1vh;
}
span{
    height: 2%;
}
.back{
    margin: 1%;
    height: 80%;
    width: 40%;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    font-size: 7vh;
}