:root{
    cursor: none !important;
    user-select: none !important;
}
body{
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
}
.Bar .info {
    width: 92vw;
}
.alarmBar{
    justify-content: center !important;
    height: 18vh;
    margin: 1vh;
}
span{
    height: 3vh;
}
.back{
    margin: 1vh 1vw;
    height: 80%;
    width: 50%;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    font-size: 7vh;
}