#bottom{
    bottom: 0;
}
#top{
    bottom: 33%;
}
.controlButtons{

     opacity: 0;
     position: absolute;
     margin: 0;
     padding: 0;
     height: 75px;
     z-index: 3;
    width: 480px;
 }