:root{
    --back-color: #070606;
    --font-color: #E05E1F;
    --containercolor: #3f3f3f;
    --bordercolor: #ffffff;
    cursor: none !important;
    user-select: none !important; 
}

body{
    cursor: none;
    user-select: none; 
    padding-top: 5px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--back-color);
    overflow: hidden;
    z-index: 1;

}


#t9-article {
    margin: auto;
    height: 3px;
    width: 300px;
    text-align: center;
    border-radius: 0px;
    margin-top: 5%;
}
/* #t9-frame {
    height: 480px;
    width: 320px;
    font-family: "Consolas";
    min-width: 200px;
} */
.configButton{
    cursor: none;
    user-select: none; 
    width: 32%;
    height: 94%;
    border-radius: 30px;
    font-size: 10vh;

}
#data{

    padding: 1vh 2vw;
    background-color: var(--back-color);
    color: #e8eef7;
}
input{
    cursor: none;
    user-select: none;
    padding: 5px 15px;
    height: 80%;
    margin: 0 5px;
    border-radius: 30px;
    font-size: 10vh ;
    width: 31%;
}
#bar{
    cursor: none;
    user-select: none;
    padding: 5px 5px;
    display: flex;
    height: 15vh;
    width: 99.5vw;
    background-color: var(--back-color);
}
#t9-input {
    cursor: none;
    user-select: none; 
    height: 100px;
    text-align: center;
}


.t9-buttons {
    font-size: 9vh ;
    cursor: none;
    user-select: none; 
    height: 80vh;
    width: 100vw;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--back-color);
}

.t9-button {
    cursor:none;
    user-select:none;
    padding-top: 5px;
    height: 18vh;
    width: 33%;
    background-color: #3f3f3f;
    color: #FFF;
    display: inline-block;
    text-align: center;
    margin: -2px -2px;
}
    

.t9-button {
    float: left;
    border: 2px solid #FFF;
    font-size: 9vh ;
    color: white;
    font-weight: bold;
    font-family: "Consolas";
}

.t9-button:active {
    background-color: #FFC90E;
}

.t9-button-text {
    margin-top: -2vh;
    color: #d7d7d7;
    display: block;
    font-size: 7vh ;
    text-align: center;
}

#t9-input,
#t9-field,
#t9-button,
.t9-button,
.t9-button-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
