:root{
    --back-color: #070606;
    --font-color: #E05E1F;
    --containercolor: #3f3f3f;
    --bordercolor: #ffffff;
    cursor: none;
    user-select: none; 
}

body{
    cursor: none;
    user-select: none; 
    padding-top: 5px;
    margin: 0;
    height: 330px;
    width: 480px;
    background-color: var(--back-color);
    overflow: hidden;
    max-width: 500px;
    max-height: 340px;
    z-index: 1;
}


#t9-article {
    margin: auto;
    height: 3px;
    width: 300px;
    text-align: center;
    border-radius: 0px;
    margin-top: 5%;
}
/* #t9-frame {
    height: 480px;
    width: 320px;
    font-family: "Consolas";
    min-width: 200px;
} */
.configButton{
    cursor: none;
    user-select: none; 
    width: 30%;
    height: 94%;
    border-radius: 30px;
    font-size: 22px;

}
input{
    cursor: none;
    user-select: none; 
    width: 26.5%;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 22px;

}
#bar{
    cursor: none;
    user-select: none; 
    height: 70px;
    margin-left: 10px;
    width: 480px;
}
#t9-input {
    cursor: none;
    user-select: none; 
    height: 100px;
    text-align: center;
}


.t9-buttons {
    font-size: 22px;
    cursor: none;
    user-select: none; 
    height: 255px;
    width: 480px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: var(--back-color);
}

.t9-button {
    cursor: none;
    user-select: none; 
    font-size: 22px;
    padding-top: 5px;
    height: 23%;
    width: 32%;
    background-color: #3f3f3f;
    color: #FFF;
    display: inline-block;
    text-align: center;
    margin: -2px -2px;
}

.t9-button {
    float: left;
    border: 2px solid #FFF;
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: "Consolas";
}

.t9-button:active {
    background-color: #FFC90E;
}

.t9-button-text {
    color: #d7d7d7;
    display: block;
    font-size: 20px;
    text-align: center;
}

#t9-input,
#t9-field,
#t9-button,
.t9-button,
.t9-button-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
