#setOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 325px;
    width: 470px;
    z-index: -1;
    background-color: var(--back-color);
    border: solid rgba(255, 255, 255, 0.2) 2px;
    position: absolute;
    font-size: 25px;
    max-width: 500px;
    max-height: 340px;
}
.row{
    display: flex;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.08);
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: solid rgba(255, 255, 255, 0.2) 2px;
    border-radius: 8px;
}
#setOption .configButton{
    color: var(--font-color);
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 20px;
    height: 15%;
    width: 90%;
}