:root{
    cursor: none !important;
    user-select: none !important;
}
#setOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 98vh;
    width: 98vw;
    z-index: -1;
    background-color: var(--back-color);
    /* border: solid var(--bordercolor) 2px; */
    position: absolute;
    font-size: 12vh;
}
.row{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    height: 20%;
    background-color: var(--containercolor);
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: solid var(--bordercolor) 2px;
    border-radius: 8px;
}
#setOption .configButton{
    border: solid var(--bordercolor) 1px;
    color: var(--font-color);
    background-color: var(--containercolor);
    font-size: 12vh;
    height: 15%;
    width: 90%;
}

